# 3- xG vs G

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
from matplotlib.transforms import ScaledTranslation

from PIL import Image
import urllib
import os

from matplotlib.transforms import ScaledTranslation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import matplotlib.patheffects as path_effects
import matplotlib.font_manager as fm
import matplotlib.colors as mcolors
from matplotlib import cm
from highlight_text import fig_text, ax_text
from matplotlib.colors import LinearSegmentedColormap, NoNorm
from matplotlib import cm
import matplotlib.gridspec as gridspec
import numpy as np
from mplsoccer import PyPizza, add_image, FontManager


from PIL import Image
import urllib
import json
import os
import math

#import modules and packages
import requests
from bs4 import BeautifulSoup
import json
import datetime
import seaborn as sns

In [2]:
url = "https://understat.com/league/EPL/2024"
import requests
from bs4 import BeautifulSoup
import json
#Use requests to get the webpage and BeautifulSoup to parse the page
res = requests.get(url)
soup = BeautifulSoup(res.content, 'lxml')
scripts = soup.find_all('script')

strings = scripts[2].string
# strip unnecessary symbols and get only JSON data 
ind_start = strings.index("('")+2 
ind_end = strings.index("')") 
json_data = strings[ind_start:ind_end] 
json_data = json_data.encode('utf8').decode('unicode_escape')

#convert string to json format
data = json.loads(json_data)
xG_col = []
xGA_col = []
G_col =[]
GA_col= []
team=[]

for key in data:
    data_away = data[key]
    team.append(data_away["title"])
    da = data_away["history"]
    xG = []
    xGA = []
    G = []
    GA = []
    for index in range(len(da)):
        for key in da[index]:
            if key == 'xG':
                xG.append(da[index][key])
            if key == 'xGA':
                xGA.append(da[index][key])
            if key == 'scored':
                G.append(da[index][key])
            if key == 'missed':
                GA.append(da[index][key])
    xG_col.append(sum(xG))
    xGA_col.append(sum(xGA))
    G_col.append(sum(G))
    GA_col.append(sum(GA))
G_col

[33,
 19,
 41,
 16,
 23,
 25,
 45,
 27,
 45,
 44,
 41,
 54,
 47,
 27,
 35,
 34,
 32,
 40,
 33,
 21]

In [3]:
df = pd.DataFrame( team,columns = ['Team'])

In [4]:
df["G"] = G_col
df["GA"] = GA_col
df["xG"] = xG_col
df["xGA"] = xGA_col

In [5]:
df

                       Team   G  GA         xG        xGA
0               Aston Villa  33  34  39.963357  32.321838
1                   Everton  19  28  24.789287  36.332169
2               Bournemouth  41  26  49.093181  32.089227
3               Southampton  16  53  27.613666  62.836820
4                 Leicester  23  48  26.034683  50.375350
5            Crystal Palace  25  28  35.807177  35.641389
6                   Chelsea  45  30  49.885196  36.058375
7                  West Ham  27  43  31.519401  46.444035
8                 Tottenham  45  35  42.917060  39.602386
9                   Arsenal  44  21  48.054951  22.904349
10         Newcastle United  41  27  41.775154  33.841875
11                Liverpool  54  21  58.150260  22.066969
12          Manchester City  47  30  47.468548  37.218667
13        Manchester United  27  32  35.594247  37.451416
14                 Brighton  35  31  35.238842  34.694594
15                   Fulham  34  30  37.916917  26.969146
16  Wolverhampton Wanderers  32  52  25.130849  41.898337
17                Brentford  40  39  38.685921  41.512287
18        Nottingham Forest  33  27  34.381294  31.520426
19                  Ipswich  21  47  25.455064  53.695400

In [6]:
df["index"] = [i for i in range(1,21)]
df.set_index("index")

                          Team   G  GA         xG        xGA
index
1                  Aston Villa  33  34  39.963357  32.321838
2                      Everton  19  28  24.789287  36.332169
3                  Bournemouth  41  26  49.093181  32.089227
4                  Southampton  16  53  27.613666  62.836820
5                    Leicester  23  48  26.034683  50.375350
6               Crystal Palace  25  28  35.807177  35.641389
7                      Chelsea  45  30  49.885196  36.058375
8                     West Ham  27  43  31.519401  46.444035
9                    Tottenham  45  35  42.917060  39.602386
10                     Arsenal  44  21  48.054951  22.904349
11            Newcastle United  41  27  41.775154  33.841875
12                   Liverpool  54  21  58.150260  22.066969
13             Manchester City  47  30  47.468548  37.218667
14           Manchester United  27  32  35.594247  37.451416
15                    Brighton  35  31  35.238842  34.694594
16                      Fulham  34  30  37.916917  26.969146
17     Wolverhampton Wanderers  32  52  25.130849  41.898337
18                   Brentford  40  39  38.685921  41.512287
19           Nottingham Forest  33  27  34.381294  31.520426
20                     Ipswich  21  47  25.455064  53.695400

In [7]:
def ax_logo(team_id, ax):
    '''
    Plots the logo of the team at a specific axes.
    Args:
        team_id (int): the id of the team according to Fotmob. You can find it in the url of the team page.
        ax (object): the matplotlib axes where we'll draw the image.
    '''
    fotmob_url = 'https://images.fotmob.com/image_resources/logo/teamlogo/'
    club_icon = Image.open(urllib.request.urlopen(f'{fotmob_url}{team_id:.0f}.png'))
    ax.imshow(club_icon)
    ax.axis('off')
    return ax

In [8]:
codes = { "Liverpool" :8650,  "Manchester City" :  8456,"Arsenal" :9825, "Tottenham" :  8586, "Brighton" :10204,
                      "Leeds" :8463,
                     "Chelsea" :8455,
                  "Brentford" :9937,
           "Newcastle United" :10261,
                     "Fulham" :9879, "Crystal Palace" :9826,
          "Manchester United" :10260,
                     "Everton" :8668,
                 "Southampton":8466,
                 "Aston Villa" :10252,
          "Nottingham Forest":10203,
   "Wolverhampton Wanderers":8602,
                    "West Ham" :8654,
                   "Leicester" : 8197,
               "Bournemouth" :8678,"Luton": 8346,"Burnley" :8191 ,"Sheffield United" : 8657,"Ipswich":9902}

In [9]:
clubs = []
for x in (df["Team"]):
    if x in codes:
        clubs.append(codes[x])

In [ ]:
final = df.copy()
fig = plt.figure(figsize=(10,10), dpi=100)
ax = plt.subplot()

x = datetime.datetime.now()
x = str(x)
date =x[:10]

fig.set_facecolor('black')
ax.patch.set_facecolor('black')


y_min = math.floor(final["G"].min())-2
y_max = math.ceil(final["G"].max())+2
x_min = math.floor(final["xG"].min())-2
x_max = math.ceil(final["xG"].max())+2


ax.set_ylim(y_min,y_max)
ax.set_xlim(x_min,x_max)


# # Draw the line y=x
ax.plot([x_min, x_max], [y_min, y_max], color='white', linestyle='--',alpha=0.7)

# Add spines
ax.spines["left"].set_color('white')   #spines removes the plot edges(border)
ax.spines["bottom"].set_color('white')
ax.spines["right"].set_color('white')   #spines removes the plot edges(border)
ax.spines["top"].set_color('white')


# Add grid and axis labels
ax.grid(True, color = "lightgrey", ls = ":") #ls = linestyle,
plt.xticks(fontname = "STXihei",color="white")
plt.yticks(fontname = "STXihei",color="white")
ax.tick_params(axis='x', colors='white')
ax.tick_params(axis='y', colors='white')

plt.xticks(np.arange(x_min, x_max, 5))  # Adjust x-ticks to be spaced by 2.5
plt.yticks(np.arange(y_min, y_max, 5))  # Adjust y-ticks to be spaced by 2.5

# -- Transformation functions
DC_to_FC = ax.transData.transform
FC_to_NFC = fig.transFigure.inverted().transform
# -- Take data coordinates and transform them to normalized figure coordinates
DC_to_NFC = lambda x: FC_to_NFC(DC_to_FC(x))

ax_size = 0.05


plt.xlabel("xG",font ='STXihei',fontsize = 18,color="white",fontweight="bold")
plt.ylabel("Goals Scored",font ='STXihei',fontsize = 18,color= "white",fontweight="bold")
ax.tick_params(labelsize=15)

counter = 0
for x,y in zip(final["xG"],final["G"]):
    ax_coords = DC_to_NFC((x,y))
    image_ax = fig.add_axes(
        [ax_coords[0] - ax_size/2, ax_coords[1] - ax_size/2, ax_size/1.4, ax_size/1.4],
         fc='None'
    )
    ax_logo(clubs[counter], image_ax)
    counter += 1


fig_text(
    x = 0.18, y = .885, 
    s = 'Expected Goals vs Goals Scored',
    va = 'bottom', ha = 'left',
    fontsize = 23,  fontname ="STXihei",path_effects=[path_effects.Stroke(linewidth=0.1, foreground="#BD8B00"), path_effects.Normal()],
     fontweight="bold",color="white"
)



fig.text(
        x=0.77, y=.048, s='Data : Understat\nViz : Ligandro22',
        ha='left',va='bottom',size=12
        ,fontname="Century Gothic",
        fontweight="bold",color="white"
    )


fig_text(
    x = 0.75, y = 0.89, 
    s = 'Data till ' + date,
    va = 'bottom', ha = 'left',
    fontsize = 10, fontweight="bold",fontname = "Century Gothic",color = 'white'
)


    # add image
im1 = plt.imread(r"C:\Users\lolen\OneDrive\Documents\Coding\Neurotactic Essentials\Images\PREM.png")
ax_image = add_image(
          im1, fig, left=0.11, bottom=0.6, width=0.065, height=0.65
)   # these values might differ when you are plotting

plt.savefig("AFC VS ARS.jpg",dpi =500, bbox_inches='tight')